*~
*.[0-9]
*.[0-9][0-9]
*.[0-9][0-9][0-9]
*.bbg.gz
*.la
*.lo
*.log
*.o
*.rec
*.tar.gz
*.vtg
.DS_Store
.deps
Makefile
autom4te.cache
config.h
config.log
config.status
gitfix
libtool
stamp-h1
tag.pl
src/bb2p
src/bb2s
src/bb2d
src/*.o
src/.gitignore

